.gpu-virtual {
  width: 100%;
  height: 100%;

  .video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // z-index: -2;
    object-fit: cover;
  }
  .miku {
    width: 600px;
    height: 600px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heart {
    width: 250px;
    height: 250px;
    position: fixed;
    left: 0;
    bottom: 200px;
  }
  .logo {
    position: fixed;
    width: 250px;
    height: 250px;
    top: 0;
    left: 0;
  }
  .decorate {
    width: 100%;
    height: 100%;

    .live_icon {
      display: inline-block;
      height: 32px;
      width: 48px;
      text-align: center;
      line-height: 32px;
      background: rgba(240, 50, 0, 0.8);
      font-size: 18px;
      position: absolute;
      right: 24px;
      top: 60px;
      text-decoration: none;
      font-style: normal;
      border-radius: 8px;
      color: #ffffff;
      filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
      backdrop-filter: blur(2px);
      animation: blink 2.5s ease-in-out infinite;
    }
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.three {
  z-index: 1;
  position: fixed;
}

.live_banner {
  width: 100%;
  position: absolute;
  bottom: 60px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.live_banner .icon {
  display: inline-block;
  height: 160px;
  width: 160px;
  background: url('./images/banner.png') no-repeat center;
  background-size: 100% 100%;
  filter: drop-shadow(0px 1px 1px rgba(255, 255, 255, 0.5));
}

.decorate .live_banner .title {
  width: calc(100% - 160px);
  height: 56px;
  background: rgba(36, 120, 255, 0.3);
  padding: 0 24px;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 56px;
  text-align: left;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(4px);
  overflow: hidden;
}

.decorate .live_banner .title .text {
  display: inline-block;
  width: auto;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
  padding-left: 100%;
  padding-right: 100%;
}
